{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<br>
<div class="div-search">
    <div class="div-search-card">
        <!-- <label for="card-search">Digite a carta:</label> -->
        <input id="card-input" placeholder="Enter a card name:">
        <div id="div-card-result" style="
        border: none;
        background-color: white;
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-height: 100px;
        overflow: auto;" hidden>
    </div>
</div>

</div>
<br>
<br>
<div class="div-deck-build">
    <div id="div-card-img">

    </div>
    <div class="div-deck-list">

    </div>
</div>
 
<style>
    .div-search{
        display: flex;
        place-content: center;
        height: 3vh;
    }

    .div-search-card {
    top: 10%;
    display: flex;
    justify-content: center;
    width: 30vw;
    flex-wrap: wrap;
}

.div-search-card input{
    all: unset;
    padding: 5px;
    height: 3vh;
    width: 30vw;
    border: 1px solid #555555;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px #555555,
        0px 0px 5px #ffffff;
    font-size: 1rem;
    transition: box-shadow 0.5s;
}

.div-search-card input:focus {
    /* border: 1px solid #ff0000; */
    box-shadow: 
        inset 0px 0px 5px rgba(85, 85, 85, 0),  /* fade out */
        0px 0px 5px #870093;       /* fade in */
    /* outline: 1px solid #870093; */
}

.div-deck-build {
    display: flex;
}
#div-card-img {
    top: 20%;
    left: 1%;
    background-color: beige;
    /* position: fixed; */
    width: min(40vh, 300px);;
    height: min(60vh, 600px);;
    margin: 10px 10px 10px 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.div-deck-list {
    background-color: chocolate;
    /* height: min(60vh,1500px); */
    width: min(80vw,1400px);
    margin: 10px;
}
</style>
<script>

document.getElementById('card-input').addEventListener('input', function () {
    const cardName = this.value.trim();
    const cardResult = document.getElementById('div-card-result');

    if (cardName.length > 2) {
        fetch(`/searchCard/${encodeURIComponent(cardName)}/`)
            .then(response => response.json())
            .then(data => {
                cardResult.innerHTML = '';
                const cardDIV = document.getElementById('div-card-img');
                cardDIV.innerHTML = '';

                if (data.error) {
                    cardResult.innerHTML = `<p style="color:red;">${data.error}</p>`;
                } else if (data.cards && data.cards.length > 0) {
                    cardResult.removeAttribute('hidden');
                    cardResult.style.border = '2px solid red';
                    
                    
                    if (data.cards[0].img) {
                        const img = document.createElement('img');
                        img.src = data.cards[0].img;
                        img.alt = 'Card Image';
                        img.style.maxWidth = '300px';
                        cardDIV.appendChild(img);
                    }


                    data.cards.forEach(card => {
                        const a = document.createElement('a');
                        a.textContent = card.name;
                        a.href = "#";
                        a.style.width = '100%';
                        a.classList.add("card-result-link");
                        // a.setAttribute('data-img', card.image);

                        a.addEventListener('click', function (e) {
                            e.preventDefault();
                            const safeCardName = a.textContent.replaceAll('//', '___');
                            console.log('Click',safeCardName);
                            // Enviar dados para o backend
                            fetch(`/selectCard/${encodeURIComponent(safeCardName)}/`)
                            .then(res => res.json())
                            .then(data => {
                                // Limpar o campo de input (cardName)
                                document.getElementById('card-input').value = '';  // Limpar o campo de texto de entrada
                                cardResult.innerHTML = '';  // Limpar os resultados
                                cardResult.style.border = 'none';  // Remover a borda
                                cardResult.setAttribute('hidden', true);  // Ocultar a lista de resultados
                            })
                            
                            .catch(err => console.error('Error:', err));
                        });

                        a.addEventListener('mouseover', function () {
                            if (card.img) {
                                cardDIV.innerHTML = '';
                                const img = document.createElement('img');
                                img.src = card.img;
                                img.alt = 'Card Image';
                                img.style.maxWidth = '300px';
                                cardDIV.appendChild(img);
                            }
                            
                        });

                        cardResult.appendChild(a);
                        

                    });

                } else {
                    cardResult.removeAttribute('hidden');
                    cardResult.innerHTML = `<p>Not a single card was found!</p>`;
                }
            });

    } else {
        cardResult.innerHTML = '';
        cardResult.setAttribute('hidden', true);
        cardResult.style.border = 'none';
    }
});

</script>


{% endblock %}