{% extends 'base.html' %}

{% load static %}

<!-- {% block title %}Index{% endblock %} -->

{% block content %}

<div id="main-body">
    <div style="width: fit-content; height: fit-content; position: relative; top: 20%; font-size: 1.5em;">
        <h1 style="display: flex; justify-content: center;">Bem-Vindo!</h1>
        Este site está sendo desenvolvido para estudos. Tecnologias utilizas:
        <ul>
            <li>Django</li>
            <li>CSS</li>
        </ul>
    </div>
</div>
{% endblock %}